<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Administrator</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAwxOPOEJS1OyJw2kkj/7QpjmE1QHzqGupdoQUtUqezEnkHLBs2wI2jcmfsPTgU6ZyLXoIdeKjHJuyFbYO3GfkJAA==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$38CnV5DBVqJMT0WezYF/Hu82Pjj19YB8UmOYl8H285jKOMdp84ChG</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1708306559284</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>